:root {
  --grad: linear-gradient(rgba(25, 28, 38, 0.4), rgba(25, 28, 38, 0.4));
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'), local('Lora'),
    url('../fonts/Lora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'), local('Lora'),
    url('../fonts/Lora-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.header-none {
  position: fixed;
  transform: scale(0);
}

body {
  font-family: 'Lora', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: black;
  font-weight: 400;
}

button {
  cursor: pointer;
}

.container {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.main-title {
  font-weight: 400;
  font-size: 26px;
  color: white;
}

.section {
  display: inline-block;
  min-width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.hero {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: var(--grad), url('../images/hero/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text-wrap {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-weight: 400;
  font-size: 84px;
  text-align: center;
  color: white;
  line-height: 1.1;
}

.address {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: white;
}

.schedule {
  background-color: #8c2298;
}

.schedule-wrap {
  display: flex;
  gap: 40px;
}

.schedule-img {
  width: 400px;
}

.schedule-text-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.schedule-subtitle {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.schedule-text {
  font-size: 24px;
  text-align: center;
}

.services {
}

.services-list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.services-list-item {
  flex-basis: calc((100% - 40px) / 3);
}

.services-img-wrap {
}

.services-img {
  object-fit: cover;
  height: 375px;
}

.services-text-wrap {
  padding: 16px;
}

.services-subtitle {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #741b47;
}

.services-subtitle:not(:last-child) {
  margin-bottom: 16px;
}

.services-subtitle:last-child {
  margin-top: 16px;
}

.services-text {
  font-size: 20px;
  text-align: center;
  color: #741b47;
}

.contact-information {
  padding-bottom: 128px;
}

.contact-information-wrap {
  display: flex;
  justify-content: space-between;
}

.map-link {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  font-style: normal;
  color: black;
}

.map-link:hover,
.map-link:focus {
  color: #741b47;
}

.qr-code {
  width: 450px;
  height: 100%;
}

.footer {
  border-top: 1px solid grey;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-address {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  font-style: normal;
}
